<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <h1>Hello from home page</h1>
    <form action="/get-form-data" method="post">
      <input type="text" name="username" placeholder="enter username" />
      <input type="password" name="password" placeholder="enter password" />
      <input type="text" name="email" placeholder="enter email address" />
      <button>Submit</button>
    </form>
    <script src="assets/index.js"></script>
  </body>
</html>
